*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgb(13,13,37),rgb(13,0,0,0.75)),url(melanie-lim-SkMBbB9gjQc-unsplash.jpg);
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
}
.header-content{
    color: whitesmoke;
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
}
/*.line{
    width: 250px;
    height: 4px;
    background: #353688;
    margin: 10px auto;
    border-radius: 5px;  
}*/
.header-content h1{
    font-size: 5vmin;
    margin-top: 30px;
    margin-bottom: 30px;
}
.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 70px;
    transition: all .50s ease;
}
.button{
    text-decoration: none;
    list-style: none;
    padding: 8px 15px;
    border: #353688 solid 2px;
    border-radius: 30px;
    color: #ffffff;
}
.button:hover{
    background-color: #353688;
    transition: 0.3s ease-in;
}

.logo{
    height: 100px;
    width: 100px;
}
.logo span{
    color: whitesmoke;
    font-size: 1.1rem;
    font-weight: 600;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-links a {
    color: aliceblue;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
    text-decoration: none;
    list-style: none;
}
.nav-links li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links a::after {
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    transition: 0.2s;
}

.nav-links a:hover {
    color: #0c7073; /* Change this to the color you want on hover */
}

/*.navbar a:hover::after {
    width: 80%;
    background-color: #756a6a; 
}*/

.info{
    display: flex;
    flex-direction: column;
    align-items: last baseline;
    justify-content: center;
    
}

.info h1{
    font-size: 40px;
    color: #ffffff;
    padding: 10px;
    
}
.info p{
    font-size: 15px;
    color: #ffffff; 
    padding: 12px;
    width: 500px;
}

h3{
    color: #ffffff;
    letter-spacing: 2.5px;
}
.p{
    color: #fff;
    letter-spacing: 1.5px;
}