
  /*DONATE FOOD*/
  .container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
  }
  
  .form-container {
    margin-bottom: 20px;
  }
  
  .timer {
    background-color: #f0f0f0; 
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    margin-bottom: 10px; 
  }
  
  .button-container {
    text-align: center; 
  }
  
  .button-container button {
    background-color: #114e13; 
    color: white;
    padding: 12px 20px; 
    border: none; 
    border-radius: 35px;
    cursor: pointer; 
    transition: background-color 0.3s; 
    font-size: 16px; 
  }
  
  .button-container button:hover {
    background-color: #45a049; 
  }
  
  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
  
  
  
  #chart {
    margin-top: 20px;
    transition: opacity 0.3s ease-in-out;
  }
  
  .total-donated {
    font-weight: bold; 
  }
  
  
  .legend-text {
    font-size: 14px;
    font-weight: bold; 
  }
  
  
  
  
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .form-container {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"]
  {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  th {
    background-color: #acaad4;
    color: white;
  }
  .input {
  border: 2px solid transparent;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: rgb(243, 243, 243);
  border-radius: 10px;
  transition: all 0.5s;
}

.input:hover,
.input:focus {
  border: 2px solid #278630;
  box-shadow: 0px 0px 0px 7px rgba(74, 236, 101, 0.2);
  background-color: white;
}
.radio-buttons {
  display: flex;
  gap:5px; /* Adjust the gap between radio buttons as needed */
  width: 5px;
}